event_run_assist_tool/obj
event_run_assist_tool/.vs
.vs
event_run_assist_tool/obj/Debug/event_run_assist_tool.csproj.AssemblyReference.cache
/event_run_assist_tool/bin
/erat_setup_tool
/erat_image_recognition_tool